* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
  position: relative;
}

.nav_block {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 40px 40px;
  z-index: 1000;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #fff;
}

.dark {
  background-color: #202020;
  color: #fff;
}

.dark .links a {
  color: white;
}

.dark .nav_block {
  background-color: #202020;
}

.dark .myName {
  text-decoration-color: white !important;
}

.name_title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
}

.links {
  display: flex;
  gap: 54px;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.links button {
  border: none;
  background: none;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  position: absolute;
  position: fixed;
  left: 50px;
  bottom: 70px;
  gap: 20px;
  z-index: 1;
}

.emailFixed {
  position: absolute;
  right: 70px;
  bottom: 70px;
  writing-mode: vertical-rl;
  transform: scale(-1);
  display: flex;
  gap: 30px;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.hero_block {
  padding: 100px 150px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}
.heroTexts {
  position: relative;
  font-size: 35px;
}
.heroTitle {
  padding-left: 60px;
  padding: 60px;
  color: #fff;
  font-weight: 700;
}
.heroIcon img {
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 50px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 55px;
}
.heroName {
  font-size: 64px;
  font-weight: 700px;
}

.myName {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #737373;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btnDwnl {
  background: linear-gradient(to right, #df580c, #fd993d);
  border-color: #fff;
  border-width: 5px;
  padding: 20px 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.243);
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.btnTouch {
  background: linear-gradient(to right, #434343, #000000);
  border-color: #fff;
  border-width: 5px;
  padding: 20px 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.243);
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.secondSection {
  padding: 100px 150px;
  padding-left: 600px;
  position: relative;
}

.secondBlock {
  width: 1045px;
  padding: 30px;
}

.secondBlock p {
  font-size: 64px;
  font-weight: 500;
}

.secondBlock p span {
  font-size: 100px;
}

.secondBlock img {
  width: 620px;
}

.captionBlock p {
  font-size: 20px;
  font-weight: 300;
}

.posAb {
  position: absolute;
}
.vec1 {
  left: 0;
  top: 0px;
  z-index: 2;
}
.vec2 {
  left: 0;
  top: 50px;
  z-index: 0;
}
.vec3 {
  left: 400px;
}
.vec4 {
  right: 300px;
}

.vec5 {
  right: 0;
  top: 0;
  z-index: 0;
}

@media screen and (max-width: 1940px) {
  .secondBlock {
    width: 900px;
    font-size: 16px;
  }
  .secondBlock img {
    width: 500px;
  }
}
@media screen and (max-width: 1815px) {
  .secondBlock {
    width: 800px;
  }
  .secondBlock img {
    width: 400px;
  }
  .secondBlock p {
    font-size: 50px;
  }
  .secondBlock p span {

  }
  .captionBlock p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1700px) {
  .secondSection {
    padding-left: 500px;
  }
  .vec1 {
    width: 500px;
  }
  .vec2 {
    width: 380px;
    top: 100px;
  }
  .vec5 {
    width: 300px;
    top: 50px;
  }
}

@media screen and (max-width: 1550px) {
  .vec1 {
    width: 400px;
  }
  .vec2 {
    width: 280px;
    top: 100px;
  }
  .secondSection {
    padding-left: 400px;
  }

.secondBlock {
  font-size: 14px;
}
}
